@import "tailwindcss";
@plugin "daisyui";

*::selection {
    background-color: var(--color-warning);
}

body {
    overflow-y: scroll;
}

a.active {
    background-color: var(--color-accent);
}

.range-slider .range-slider__thumb {
    background-color: var(--color-accent);
}

.range-slider .range-slider__range {
    background-color: var(--color-accent);
}

.fade-out {
    animation: fadeOut 0.4s 0.1s forwards !important;
}

.dynamic-text {
    mix-blend-mode: difference;
    color: rgb(26, 255, 5);
}

.StripeElement {
    padding-block: 12px;
    border-radius: 4px;
}